streamlit==1.29.0
openai==1.35.0
PyPDF2==3.0.1
python-dotenv==1.0.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
Pillow==10.4.0
langchain==0.2.6
langchain-openai==0.1.8
langchain-community==0.2.6
chromadb==0.4.24
sentence-transformers==2.7.0
pypdf==4.2.0
python-multipart==0.0.9
streamlit-chat==0.1.1
plotly==5.17.0
streamlit-option-menu==0.3.12